.success{
    background-color: lightgray;
    margin-left: .1em;
    margin-bottom: .5em;
    padding: .5em;
    border-radius: .5em;
    font-weight: bold;
    border-style: solid;
    color: green;
}

.error{
    background-color: lightgray;
    margin-left: .1em;
    margin-bottom: .5em;
    padding: .5em;
    border-radius: .5em;
    font-weight: bold;
    border-style: solid;
    color: red;
}

.blogStyle{
    padding-top: .2em;
    padding-left: .5em;
    border: solid;
    border-width: .1em;
    margin-bottom: .5em;
    margin-top: .2em;
}
